.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Modal-container {
    position: relative;
    background-color: #eeeeee;
    padding: 2rem 1rem .5rem;
    width: 50%;
    border-radius: .7rem;
    margin-bottom: 1rem;
  }
  
  .Modal__close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    color: #7e7e7e;
    background-color: #EEEEEE;
    padding: 0.5rem 1rem;
    border-radius: .7rem;
  }